// bower:scss
// endbower
@import "compass/css3";

%clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

html {
  height: 100%;
}
body {
  background: black;
  color: #fff;
  height: 100%;
  min-height: 100%;
  max-height: 1020px;
  position: relative;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.container {
  @extend %clearfix;
  position: relative;
  margin: 0 auto;
  width: 100%;
}
.particles {
  position: absolute;
  width: 100%;
  max-width: 1200px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 400px;
}
.wrap {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 100%;
  max-height: 560px;
  @media (min-width: 769px) {
    max-width: 960px;
  };
}
.header {
  @extend %clearfix;
  padding: 40px;
  box-sizing: border-box;
  position: absolute;
  top: 150px;
  @media (min-width: 768px) {
    position: relative;
    top: auto;
  }
}
.logo__kosu {
  width: 100%;
  float:left;
  display:block;
  opacity: 0;

  &--text {
    @include transition(opacity 8s 2s);
  }
  &--dots {
    margin-left: -100%;
    @include transition(opacity 5s 0s)
  }
}
.dan {
  padding: 40px;
  @media (min-width: 768px) {
    padding: 0;
  }
}
.logo__dan {
  @extend %clearfix;
  max-width: 100%;
  display: block;
  width: 100px;
  @media (min-width: 768px) {
    position: absolute;
    right: 40px;
    width: auto;
  }
}

.info {
  padding-top: 22%;
  @media (min-width: 768px) {
    padding-top: 0;
  }
  &__details {
    font-size: 13px;
    padding: 0 40px;
    span {
      display: block;
    }
    .last {
      margin-bottom: 1em;
    }
  }
}

.mam {
  position: absolute;
  top: 40px;
  left: 160px;
  @media (min-width: 768px) {
    position: relative;
    text-align: center;
    left: auto;
    top: auto;
  }
}

.logo__mam {
  position: absolute;
}

.contact {
  color: #FFF;
  font-size: 14px;
  padding: 20px 40px;
  @media (min-width: 768px) {
    text-align: right;
  }
  a {
    text-decoration: none;
    color: #fff;
  }
}

